<!doctype html>
<html lang="ja">

<head>
    <meta name="robots" content="noindex,nofollow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="{{file.frontMatter.description}}">
    <meta name="keywords" content="{{file.frontMatter.keywords}}">
    <title>{{file.frontMatter.title}}株式会社北原防災 | 防災機器、防災についてのことなら安心と歴史の北原防災まで（千葉市）</title>

    <!-- CSS -->
    <link rel="index" href="index.html">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{file.frontMatter.assetsPath}}/css/style.css">

    <!-- JavaScript -->
    <script async src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- https://github.com/WebComponents/webcomponentsjs/ -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.6.0/CustomElements.min.js"></script>
    <script src="//japont.herokuapp.com/japont.js" async></script>
    <meta is="web-font" src="mplus/mplus-1p-heavy.woff" selector=".copy"/>
</head>

<body id="top" class="{{file.frontMatter.bodyClass}}">
    <header class="centered-navigation">
        <div class="centered-navigation-wrapper">
            <a href="/" class="mobile-logo">
                <h1>
                  <img src="{{file.frontMatter.assetsPath}}/images/logo.svg" alt="Logo image"><span class="mobile-logo__txt"><span class="company-addr__kk">株式会社</span>北原防災</span>
                </h1>
            </a>
            <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">Menu</a>
            <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
                <li class="nav-link more"><a href="javascript:void(0)" class="company"><span class="link">会社案内</span></a>
                    <ul class="submenu">
                        <li><a href="{{file.frontMatter.assetsPath}}/company/">会社概要</a>
                        </li>
                        <li><a href="{{file.frontMatter.assetsPath}}/company/greeting/">社長挨拶</a>
                        </li>
                        <li><a href="{{file.frontMatter.assetsPath}}/company/history/">会社沿革</a>
                        </li>
                        <li><a href="{{file.frontMatter.assetsPath}}/company/philosophy/">経営理念</a>
                        </li>
                        <li><a href="{{file.frontMatter.assetsPath}}/company/recruit/">採用情報</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-link more"><a href="javascript:void(0)" class="business"><span class="link">業務案内</span></a>
                    <ul class="submenu">
                        <li><a href="{{file.frontMatter.assetsPath}}/business/">業務概要</a>
                        </li>
                        <li><a href="{{file.frontMatter.assetsPath}}/business/tech/">技術情報</a>
                        </li>
                        <li><a href="{{file.frontMatter.assetsPath}}/business/items/">防災商品</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-link logo">
                    <a href="/" class="logo">
                        <img src="{{file.frontMatter.assetsPath}}/images/logo.svg" alt="Logo image">
                        <br>
                        <div class="company-addr__name--header"><span class="company-addr__kk">株式会社</span>北原防災</div>
                    </a>
                </li>
                <li class="nav-link more"><a href="javascript:void(0)" class="check"><span class="link">点検サービス</span></a>
                    <ul class="submenu">
                        <li><a href="{{file.frontMatter.assetsPath}}/check-service/">点検サービス</a>
                        </li>
                        <li><a href="{{file.frontMatter.assetsPath}}/check-service/indemnity/">消防用設備の保守・工事等に関わる賠償責任</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-link"><a href="{{file.frontMatter.assetsPath}}/contact/" class="contact"><span class="link">お問い合わせ</span></a>
                </li>
            </ul>
        </div>
    </header>
